@import url("reset.css");

div {
    display: block;
}

body {
    background-color: grey;
}

.button-container {
    width: 400px;
    height: 400px;
    display: grid;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#secondary {
    width: 400px;
    height: 70px;
    grid-template-columns: 1fr 1fr;
}

#display-container {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    height: 20px;
    width: 400px;
}

button {
    font-size: 20px;
    background-color: rgb(221, 221, 221);
}

button:hover{
    background-color: rgb(200, 200, 200);
}

.clear {
    text-align: center;
}

.calc-container {
    background-color: grey;
}