@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

div {
    display: block;
}

body {
    background-color: black;
    background-image: url(math1.jpg);
    font-family: 'Orbitron', sans-serif;
}

.button-container {
    width: 400px;
    height: 400px;
    display: grid;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#secondary {
    width: 400px;
    height: 70px;
    grid-template-columns: 1fr 1fr;
}

#display-container {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    height: 20px;
    width: 400px;
}

#display {
    font-family: 'Orbitron', sans-serif;
}

button {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(221, 221, 221);
}

.numeric {
    font-weight: bold;
}

.operator {
    font-weight: bold;
    color: red;
}

button:hover{
    background-color: rgb(200, 200, 200);
}

.clear {
    text-align: center;
}

.calc-container {
    background-color: rgb(65, 66, 64);
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}